- const RADIO_BUTTONS = [{text: 'Челленджи и скетчи', id: 'ChallengesAndSketches'}, {text: 'Рубрики', id: 'Categories'}, {text: 'Имиджевые', id: 'ImageBased'}, {text: 'Вирусные', id: 'Viral'}, {text: 'Пранки', id: 'Pranks'}, {text: 'Помочь с выбором', id: 'HelpChoice'}];

- const MEMBER_CHECKBOXES = [{text: 'Oreo', id: 'Oreo', img: 'oreo'}, {text: 'Daniilzhishko', id: 'Daniil', img: 'daniil'}, {text: 'Alex Kady', id: 'Alexkady', img: 'alexkady'}, {text: 'Seneamin', id: 'Seneamin', img: 'seneamin'}, {text: 'Zava_ly', id: 'Zavaly', img: 'zavaly'}, {text: 'Prokop', id: 'Prokop', img: 'prokop'}, {text: 'Haribo', id: 'Haribo', img: 'haribo'}]

.brief#brief(style="display: none;")
  .brief__title HOUSE 88
  .brief__short Оставьте заявку на интересующую вас услугу или блогера и&nbsp;мы&nbsp;свяжемся с вами в ближайшее время чтобы обсудить детали.

  form.brief__form(action="#", method="post", enctype="multipart/form-data")
    fieldset.brief__form-fieldset
      legend Тип интеграции
      each item, index in RADIO_BUTTONS
        .brief__radio.choice-button
          if index === 1
            input.visually-hidden(id="radio" + item.id, type="radio", name="type-integration", value= item.text, checked)
          else
            input.visually-hidden(id="radio" + item.id, type="radio", name="type-integration", value= item.text)
          label(for="radio" + item.id)= item.text
    
    fieldset.brief__form-fieldset
      legend Выберите блогера (ов)

      .brief__checkbox.choice-button 
        input.visually-hidden(id="checkboxHelpChoice", type="checkbox", name="help-choice", value="Помочь с выбором")
        label(for="checkboxHelpChoice") Помочь с выбором

      .brief__member-grid
        each item in MEMBER_CHECKBOXES
          .brief__checkbox.choice-button.choice-button--image
            input.visually-hidden(id="checkbox" + item.id, type="checkbox", name= item.text, value= item.text)
            label(for="checkbox" + item.id)
              span.choice-button__image
                img(src="images/brief/" + item.img + ".jpg", width="53", height="53", alt= item.text)
              | #{item.text}
    
    fieldset.brief__form-fieldset
      label.brief__field.field(aria-label="Как вас зовут?")
        input(type="text", placeholder="Как вас зовут?")
      label.brief__field.field(aria-label="Название компании")
        input(type="text", placeholder="Название компании")

      .brief__fields-grid 
        .brief__fields-column
          label.brief__field.field(aria-label="Ссылка на соцсети")
            input(type="url", placeholder="Ссылка на соцсети")
          label.brief__field.field(aria-label="Доп. ссылка на соцсети")
            input(type="url", placeholder="Доп. ссылка")

        .brief__fields-column
          label.brief__field.field(aria-label="Ссылка на сайт")
            input(type="url", placeholder="Ссылка на сайт")
          label.brief__field.field(aria-label="Доп. ссылка на сайт")
            input(type="url", placeholder="Доп. ссылка")
        
      label.brief__field.field(aria-label="Опишите вашу задачу")
        input(type="text", placeholder="Опишите вашу задачу")

      label.brief__field.field(aria-label="Почта / Ник в Telegram")
        input(type="text", placeholder="Почта / Ник в Telegram")
  

    .brief__form-bottom
      .brief__form-file.file-button
        input.visually-hidden(type="file", id="customFileBrief")
        label(for="customFileBrief")
          span.file-button__icon
            +icon('attach')(width="27", height="27")
          span.file-button__text Прикрепить файлы
      button.brief__form-send(type="submit") Отправить
      .brief__form-consent Нажимая на кнопку, вы даете согласие на обработку <a href="#">персональных данных</a>


    //-.custom-files
      .custom-file
        input.inputfile.js-new-file(type="file", name="file[]", id="file1")
        label(for="file1")
          span Прикрепить файлы
        .js-remove-file
