footer.footer
  .footer__container.container 
    .footer__row
      address.footer__address Москва, Россия
      a.footer__email(href="mailto:reklama@house88.ru") reklama@house88.ru
    .footer__row
      .footer__links 
        a(href="#") Политика обработки персональных данных

      .footer__links 
        a(href="#") TikTok
        a(href="#") Instagram