.about {
  padding: vw(172) 0 vw(188);

  @include media(768) {
    padding: vw(92, 376) 0 vw(40, 376);
  }

  &__container {
    max-width: vw(1650);

    @include media(1200) {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: vw(160);

    @include media(768) {
      margin-bottom: vw(44, 376);
    }
  }

  &__grid {
    display: flex;

    @include media(768) {
      display: block;
    }
  }

  &__photo {
    margin-right: vw(130);

    @include media(1200) {
      margin-right: vw(50, 1200);
    }

    @include media(768) {
      margin-right: 0;
      margin-bottom: vw(28, 376);
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__main {
    max-width: vw(510);

    @include media(1200) {
      max-width: vw(420, 1200);
    }

    @include media(768) {
      max-width: none;
    }

    &-title {
      margin-bottom: vw(40);
      font-family: $headingFont;
      font-size: vw(43);

      color: #ffffff;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: -0.01976em;

      @include media(1200) {
        margin-bottom: vw(32, 1200);
        font-family: $headingFont;
        font-size: vw(32, 1200);
      }

      @include media(768) {
        margin-bottom: 20px;
        font-size: vw(20, 376);
      }
    }
  }

  &__item {
    font-family: $mainFont--book;
    color: #ffffff;
    line-height: 1.25;
    letter-spacing: -0.02047em;

    @include media(768) {
    }

    & + & {
      margin-top: vw(25);

      @include media(1200) {
        margin-top: vw(16, 1200);
      }

      @include media(768) {
        margin-top: vw(24, 376);
      }
    }

    span {
      white-space: nowrap;
      background-color: $purpleColor;

      @include media(768) {
        white-space: normal;
      }
    }
  }
}
