.booking {
  padding: vw(220) 0 vw(160);
  background-color: #ffffff;

  @include media(768) {
    overflow: hidden;
    padding: vw(90, 376) 0 vw(80, 376);
  }

  &__container {
    max-width: vw(1455);

    @include media(1200) {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: vw(90);

    @include media(768) {
      margin-bottom: vw(40, 376);
    }

    .title__bg {
      color: #ffffff;
      background-color: #000000;
    }
  }

  &__filters {
    margin-bottom: vw(100);

    @include media(768) {
      margin-bottom: vw(36, 376);
    }

    &-title {
      margin-bottom: vw(24);
      font-family: $headingFont;
      font-weight: 700;
      font-size: vw(21);
      color: #000000;
      line-height: (24 / 21);
      letter-spacing: -0.02047em;
      text-transform: uppercase;
      text-align: center;

      @include media(1200) {
        font-size: vw(18, 1200);
      }

      @include media(768) {
        margin-bottom: vw(20, 376);
        font-size: vw(16, 376);
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: vw(-16);

      @include media(1200) {
        margin-top: vw(-16, 1200);
      }

      @include media(768) {
        display: block;
        margin-top: vw(16, 376);
      }
    }

    &-item {
      padding: vw(16);

      @include media(1200) {
        padding: vw(16, 1200);
      }

      @include media(768) {
        width: vw(205, 376);
        margin: 0 auto;
        padding: vw(7, 376) 0;
      }

      button {
        display: inline-block;
        vertical-align: top;
        min-width: vw(225);
        padding: vw(16) vw(36);
        font-size: vw(21);
        line-height: 1;
        color: #000000;
        background-color: rgba(#e8e8e8, 0.49);
        border: none;
        appearance: none;
        cursor: pointer;
        transition: all 0.3s ease;

        @include media(1200) {
          padding: vw(16, 1200) vw(36, 1200);
          font-size: vw(18, 1200);
        }

        @include media(768) {
          display: block;
          width: 100%;
          padding: vw(11, 376) vw(12, 376);
          font-size: vw(16, 376);
        }

        &:focus {
          outline: none;
        }

        @include hover {
          background-color: rgba(#e8e8e8, 1);
        }
      }

      &--all {
        button {
          min-width: 0;
        }
      }

      &--current {
        button {
          background-color: $purpleColor;
          color: #ffffff;
          pointer-events: none;

          &:focus {
            background-color: $purpleColor;
            color: #ffffff;
          }
        }
      }
    }
  }

  &__main {
    @include media(768) {
      overflow: visible;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: vw(20, 376);
        height: 100%;
        transform: translateX(-100%);
        background-color: #fff;
      }
    }

    .swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      margin-left: -3.90625vw;
      margin-top: vw(-40);
      width: auto;

      @include media(768) {
        width: 100%;
        overflow: visible;
        flex-wrap: nowrap;
        margin-left: 0;
        margin-top: 0;
      }
    }
  }

  &__card {
    display: flex;
    width: calc(50% - 3.90625vw);
    height: auto;
    margin-top: vw(40);
    margin-left: 3.90625vw;
    border: solid vw(2) #000000;

    @include media(1200) {
      border-width: vw(2, 1200);
    }

    @include media(768) {
      width: vw(290, 376);
      margin-top: 0;
      margin-left: 0;
      margin-right: vw(24, 376);
      flex-direction: column;
      border-width: vw(2, 376);
    }

    &-image {
      width: vw(250);
      flex-shrink: 0;

      @include media(1200) {
        width: vw(210, 1200);
      }

      @include media(768) {
        width: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: vw(28) vw(42) vw(24) vw(42);

      @include media(1200) {
        padding: vw(24, 1200) vw(36, 1200) vw(20, 1200) vw(36, 1200);
      }

      @include media(768) {
        padding: vw(20, 376) vw(16, 376) vw(30, 376);
      }
    }

    &-title {
      margin-bottom: vw(12);
      min-height: vw(62);

      @include media(1200) {
        margin-bottom: vw(10, 1200);
        min-height: vw(52, 1200);
      }

      @include media(768) {
        margin-bottom: vw(6, 376);
        min-height: vw(48, 376);
      }

      img {
        display: inline-block;
        vertical-align: middle;
        width: vw(32);
        height: auto;

        margin-left: vw(15);

        @include media(1200) {
          width: vw(26, 1200);
          margin-left: vw(15, 1200);
        }

        @include media(768) {
          width: vw(20, 376);
          margin-left: vw(10, 376);
        }
      }

      img + img {
        margin-left: vw(6);

        @include media(1200) {
          margin-left: vw(6, 1200);
        }

        @include media(768) {
          margin-left: vw(3, 376);
        }
      }

      h3 {
        font-family: $headingFont;
        font-size: vw(31);
        line-height: 1;
        color: #000000;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-transform: uppercase;

        @include media(1200) {
          font-size: vw(26, 1200);
        }

        @include media(768) {
          font-size: vw(24, 376);
        }
      }
    }

    &-social {
      position: relative;
      width: vw(166);
      margin-bottom: vw(12);

      @include media(1200) {
        width: vw(140, 1200);
        margin-bottom: vw(10, 1200);
      }

      @include media(768) {
        width: vw(157, 376);
        margin-bottom: 0;
      }

      & + & {
        margin-top: vw(18);

        @include media(1200) {
          margin-top: vw(14, 1200);
        }

        @include media(768) {
          margin-top: vw(24, 376);
        }
      }

      &-title {
        font-weight: 700;
        line-height: 1;
        color: #000000;
        letter-spacing: -0.02047em;
      }

      &-count {
        margin-top: vw(4);
        line-height: 1;
        color: #000000;
        letter-spacing: -0.02047em;

        @include media(768) {
          margin-top: vw(4, 376);
        }
      }

      &-link {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(42);
        height: vw(42);
        border-radius: 50%;
        background-color: rgba(#000, 0.05);
        transition: background-color 0.3s ease;

        @include media(1200) {
          width: vw(35, 1200);
          height: vw(35, 1200);
        }

        @include media(768) {
          width: vw(42, 376);
          height: vw(42, 376);
        }

        &:focus {
          outline: none;
        }

        @include hover {
          background-color: rgba(#000, 0.15);
        }

        svg {
          display: block;
          width: vw(17);
          height: vw(17);
          fill: #000000;

          @include media(1200) {
            width: vw(14, 1200);
            height: vw(14, 1200);
          }

          @include media(768) {
            width: vw(17, 376);
            height: vw(17, 376);
          }
        }
      }
    }

    &-button {
      margin-top: auto;
      padding: vw(15) vw(36);
      font-size: vw(21);
      line-height: 1;
      color: #000000;
      letter-spacing: -0.02047em;
      border: solid 1px #000000;
      background-color: transparent;
      appearance: none;
      cursor: pointer;
      transition: all 0.3s ease;

      @include media(1200) {
        padding: vw(12, 1200) vw(30, 1200);
        font-size: vw(18, 1200);
      }

      @include media(768) {
        width: 100%;
        margin-top: vw(36, 376);
        padding: vw(14, 376) vw(30, 376);
        font-size: vw(15, 376);
      }

      &:focus {
        outline: none;
      }

      @include hover {
        border-color: $purpleColor;
        background-color: $purpleColor;
        color: #ffffff;
      }
    }
  }
}
