.brief {
  $self: &;
  background-color: transparent;
  max-width: vw(915);
  padding: vw(170) vw(79);
  font-family: $mainFont--book;

  @include media(1200) {
    max-width: 73%;
    padding: vw(170, 1200) vw(80, 1200);
  }

  @include media(768) {
    box-sizing: border-box;
    width: 100%;
    max-width: none;
    padding: vw(50, 376) vw(20, 376);
  }

  &__close {
    position: fixed;
    top: vw(80);
    right: vw(98);
    width: vw(44);
    height: vw(44);
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    @include media(1200) {
      top: vw(80, 1200);
      right: vw(98, 1200);
      width: vw(32, 1200);
      height: vw(32, 1200);
    }

    @include media(768) {
      top: vw(4, 376);
      right: vw(4, 376);
      width: vw(16, 376);
      height: vw(16, 376);

      opacity: 1;
    }

    svg {
      display: block;
      width: 100%;
      height: auto;
      fill: #fff;
    }

    &:focus {
      outline: none;
    }

    @include hover {
      opacity: 1;
    }
  }

  &__title {
    margin-bottom: vw(35);
    font-family: $headingFont;
    font-size: vw(46);
    line-height: 1;
    color: #ffffff;
    letter-spacing: -0.02em;
    font-weight: 700;

    @include media(1200) {
      margin-bottom: vw(30, 1200);
      font-size: vw(36, 1200);
    }

    @include media(768) {
      margin-bottom: vw(30, 376);
      font-size: vw(36, 376);
    }
  }

  &__short {
    max-width: vw(640);
    margin-bottom: vw(83);
    //font-size: vw(21);
    line-height: (23 / 21);
    color: #ffffff;
    letter-spacing: -0.02047em;

    @include media(1200) {
      max-width: vw(580, 1200);
      margin-bottom: vw(60, 1200);
    }

    @include media(768) {
      max-width: none;
      margin-bottom: vw(40, 376);
    }
  }

  &__form {
    &-fieldset {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      border: none;

      & > .brief__field:first-child {
        margin-top: 0;
      }
    }

    &-fieldset + &-fieldset {
      margin-top: vw(90);

      @include media(768) {
        margin-top: vw(60, 1200);
      }
    }

    legend {
      //font-size: vw(21);
      line-height: 1.09523;
      color: #ffffff;
      letter-spacing: -0.02047em;
      font-weight: 400;
    }

    &-bottom {
      display: flex;
      align-items: flex-start;
      margin-top: vw(90);

      @include media(1200) {
        margin-top: vw(60, 1200);
      }

      @include media(768) {
        display: block;
        margin-top: vw(40, 376);
      }
    }

    &-custom {
      counter-reset: list;

      margin-right: vw(21);
      flex-shrink: 0;

      @include media(1200) {
        margin-right: vw(21, 1200);
      }

      @include media(768) {
        width: 100%;
        margin-right: 0;
      }

      .file-button--selected {
        margin-top: vw(18);
        counter-increment: list;

        @include media(1200) {
          margin-top: vw(18, 1200);
        }

        @include media(768) {
          margin-top: vw(18, 376);
        }

        &::before {
          content: counter(list);
        }
      }
    }

    &-file {
    }

    &-send {
      min-width: vw(186);
      margin-right: vw(36);
      flex-shrink: 0;
      padding: vw(13) vw(25);
      font-family: $mainFont--book;
      font-size: vw(21);
      color: #ffffff;
      line-height: 1;
      text-align: center;
      appearance: none;
      cursor: pointer;

      border: solid vw(1) $purple3Color;
      border-radius: vw(25);
      background-color: $purple3Color;
      transition: background-color 0.3s ease;

      @include media(1200) {
        min-width: vw(186, 1200);
        margin-right: vw(24, 1200);
        padding: vw(13, 1200) vw(25, 1200);
        font-size: vw(21, 1200);

        border-width: vw(1, 1200);
        border-radius: vw(25, 1200);
      }

      @include media(768) {
        width: 100%;
        min-width: 0;
        margin-right: 0;
        margin-top: vw(24, 376);
        padding: vw(13, 376) vw(25, 376);
        font-size: vw(21, 376);

        border-width: vw(1, 376);
        border-radius: vw(25, 376);
      }

      @include hover {
        background-color: lighten($purple3Color, 10%);
      }
    }

    &-consent {
      max-width: vw(250);
      padding: vw(10) 0;
      font-size: vw(14);
      line-height: (16 / 14);
      color: #ffffff;
      letter-spacing: -0.02em;

      @include media(1200) {
        max-width: vw(250, 1200);
        padding: vw(10, 1200) 0;
        font-size: vw(14, 1200);
      }

      @include media(768) {
        max-width: vw(250, 376);
        padding: 0;
        margin-top: vw(24, 376);
        font-size: vw(14, 376);
      }

      a {
        color: $purple2Color;

        @include hover {
          color: $purple2Color;
          text-decoration: none;
        }
      }
    }
  }

  &__radio {
    margin-top: vw(16);
    margin-right: vw(12);

    @include media(1200) {
      margin-top: vw(16, 1200);
      margin-right: vw(16, 1200);
    }

    @include media(768) {
      margin-top: vw(16, 376);
      margin-right: vw(16, 376);
    }
  }

  &__checkbox {
    min-width: vw(230);
    margin-top: vw(26);
    margin-right: vw(102);

    &:nth-child(even) {
      margin-right: 0;
    }

    @include media(1200) {
      min-width: vw(230, 1200);
      margin-top: vw(22, 1200);
      margin-right: vw(102, 1200);
    }

    @include media(768) {
      min-width: vw(300, 376);
      margin-top: vw(22, 376);
      margin-right: 0;
    }
  }

  legend + &__checkbox {
    margin-top: vw(22);
  }

  &__member-grid {
    margin-top: vw(22);
    margin-bottom: vw(12);

    @include media(1200) {
      margin-top: vw(42, 1200);
    }

    @include media(768) {
      margin-top: vw(20, 376);
    }
  }

  &__fields-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: vw(62);
    margin-bottom: vw(39);

    @include media(768) {
      display: block;
    }
  }

  &__fields-column {
    width: calc(50% - 1.04166vw); //40

    @include media(768) {
      width: 100%;
    }

    #{$self}__field {
      margin-top: vw(30);

      @include media(1200) {
        margin-top: vw(27, 1200);
      }
    }
  }

  &__field {
    width: 100%;
    margin-top: vw(42);
    font-family: $mainFont--book;

    @include media(1200) {
      margin-top: vw(40, 1200);
    }
  }
}

.fancybox-is-open .fancybox-bg {
  background-color: #111111;
  opacity: 0.93;
}
