.hero {
  overflow: hidden;

  &__photo {
    position: relative;
    //height: vw(1272);
    padding-top: 66.25%;
    background-color: #4c5769;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      max-width: none !important;
      width: 100%;
      height: auto;
      //filter: invert(1);
      @include media(768) {
        display: none;
      }
    }

    & > img.only-mobile {
      display: none;

      @include media(768) {
        display: block;
      }
    }

    @include media(768) {
      height: vw(274, 376);
      padding-top: 0;
    }
  }

  &__grid {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;

    @include media(768) {
      display: none;
    }
  }

  &__member {
    $member: &;

    position: absolute;
    top: 0;
    left: 0;
    // opacity: 0.6;

    &--hover {
      #{$member}-image {
        opacity: 1;
      }

      #{$member}-text {
        display: none;
      }
    }

    &--seneamin {
      width: vw(571);
      top: vw(66);
      left: vw(-77);

      #{$member}-text {
        top: 44.95%;
        left: 33%;
      }
    }

    &--oreo {
      width: vw(569);
      top: vw(-8);
      left: vw(171);

      #{$member}-text {
        top: 41.25%;
        left: 26%;
      }
    }

    &--haribo {
      width: vw(570);
      top: vw(-19);
      left: vw(396);

      #{$member}-text {
        top: 48.55%;
        left: 37.5%;
      }
    }

    &--zavaly {
      width: vw(704);
      top: vw(-113);
      left: vw(553);

      #{$member}-text {
        top: 41.15%;
        left: 39%;
      }
    }

    &--smmagnat {
      width: vw(524);
      top: vw(19);
      left: vw(795);

      #{$member}-text {
        top: 35.85%;
        left: 39%;
      }
    }

    &--daniil {
      width: vw(570);
      top: vw(-8);
      left: vw(956);

      #{$member}-text {
        top: 46.15%;
        left: 36%;
      }
    }

    &--alexkady {
      width: vw(570);
      top: vw(-5);
      left: vw(1176);

      #{$member}-text {
        top: 38.55%;
        left: 41%;
      }
    }

    &--prokop {
      width: vw(570);
      top: vw(-12);
      left: vw(1398);

      #{$member}-text {
        top: 49.85%;
        left: 39%;
      }
    }

    &-image {
      opacity: 0;
      transition: opacity 0.3s ease;

      img {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        height: auto;
      }
    }

    &-text {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      padding: 0 vw(15);
      font-family: $secondFont;
      font-size: vw(55);
      line-height: 1;
      color: #ffffff;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: vw(37);
        background-color: #000000;
      }
    }
  }

  &__main {
    position: relative;
    z-index: 1;
    padding-top: vw(35);
    padding-bottom: vw(200);

    @include media(768) {
      padding-bottom: vw(46, 376);
    }

    .container {
      @include media(768) {
        max-width: none;
      }
    }
  }

  &__button {
    display: none;

    @include media(768) {
      display: block;
      width: 100%;
      max-width: vw(174, 376);
      margin: 0 auto vw(35, 376);
      padding: vw(15, 376) vw(12, 376);
      font-size: vw(16, 376);
      line-height: 1;
      color: #ffffff;
      border: vw(1, 376) solid #ffffff;
      background-color: transparent;
      letter-spacing: -0.0325em;
    }
  }

  &__title {
    margin-bottom: vw(65);
    color: #ffffff;

    @include media(768) {
      margin-bottom: vw(20, 376);
    }

    &-double {
      position: relative;
      color: #000000;

      .part {
        position: absolute;
        top: 0;
        transform: translateY(-1%);
        z-index: 1;
        font-family: $thirdFont;
        color: $purpleColor;
        font-size: vw(82);

        &--text {
          &-ho {
            left: vw(16);
            letter-spacing: vw(5);
            transform: translateY(-6%);

            @include media(768) {
              left: vw(7, 376);
              font-size: vw(33, 376);
            }
          }

          &-use {
            left: vw(111);

            @include media(768) {
              left: vw(46, 376);
              font-size: vw(33, 376);
            }
          }

          &-88 {
            left: vw(260);
            font-size: vw(100);
            letter-spacing: vw(10);

            @include media(768) {
              left: vw(104, 376);
              font-size: vw(48, 376);
            }
          }
        }
      }
    }
  }

  &__text {
    @include media(768) {
      display: none;
    }

    .title__bg {
      background-color: #000000;
      color: #ffffff;

      @include media(768) {
        padding: 0 vw(2, 376);
      }
    }

    &--mobile {
      display: none;

      @include media(768) {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title__bg + .title__bg {
          margin-top: vw(4, 376);
        }
      }
    }

    &-double {
      position: relative;

      &::before {
        position: absolute;
        left: 50%;
        top: vw(2);
        transform: translateX(-50%);
        z-index: 1;
        content: attr(data-before);
        font-family: $thirdFont;
        font-size: vw(86);
        color: $purpleColor;
        font-weight: 400;
        letter-spacing: normal;

        @include media(768) {
          font-size: vw(32, 376);
        }
      }
    }
  }
}
