.line-section {
  $self: &;
  overflow: hidden;
  background-color: #000;
  //padding: vw(115) 0 vw(92);

  @include media(768) {
    padding: vw(120, 376) 0 vw(127, 376);
  }

  &--digital {
    @include media(768) {
      padding-top: vw(80, 376);
      padding-bottom: 0;
    }

    #{$self}__title {
      @include media(768) {
        max-width: vw(250, 376);
        margin-bottom: vw(66, 376);
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        transform: translateX(0) translateY(0) rotate(-23deg);
        width: vw(94);
        height: vw(94);
        background-image: url("../images/te-logo.svg");

        @include media(768) {
          width: vw(60, 376);
          height: vw(60, 376);
        }
      }

      &::before {
        left: vw(128);
        top: vw(-62);

        @include media(768) {
          left: vw(29, 376);
          top: 0;
          transform: translateX(0) translateY(-50%) rotate(-23deg);
        }
      }

      &::after {
        bottom: vw(-46);
        right: vw(112);

        @include media(768) {
          right: vw(20, 376);
          bottom: 0;
          transform: translateX(0) translateY(17%) rotate(-23deg);
        }
      }
    }
  }

  &__container {
    max-width: vw(1756);
    display: flex;
    align-items: center;

    @include media(1200) {
      max-width: none;
    }

    @include media(768) {
      flex-direction: column;
    }
  }

  &__title {
    max-width: vw(800);
    margin-right: vw(126);
    text-align: left;

    @include media(1200) {
      margin-right: vw(80, 1200);
    }

    @include media(768) {
      max-width: none;
      margin-bottom: vw(40, 376);
      margin-right: 0;
      text-align: center;
    }

    &::before {
      left: 0;
      transform: translateX(0) translateY(-68%) rotate(-6deg);

      @include media(768) {
        left: 50%;
        transform: translateX(-50%) translateY(-68%) rotate(-6deg);
        white-space: nowrap;
      }
    }
  }

  &__main {
    display: flex;
    align-items: center;

    @include media(1200) {
      flex-grow: 1;
    }

    @include media(768) {
      width: 100%;
      flex-direction: column;
    }

    form {
      display: flex;
      align-items: center;
      width: 100%;

      @include media(768) {
        flex-direction: column;
      }
    }
  }

  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: vw(437);
    margin-right: vw(66);

    @include media(1200) {
      max-width: none;

      margin-right: vw(40, 1200);
      flex-grow: 1;
    }

    @include media(768) {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-bottom: vw(47, 376);
    }
  }

  &__field {
    max-width: calc(50% - (2.70833vw / 2));
    margin-top: vw(22);

    @include media(768) {
      max-width: none;
      margin-top: vw(29, 376);

      &:first-child {
        margin-top: 0; //vw(36, 376);
      }
    }
  }

  &__list {
    max-width: vw(472);
    flex-grow: 1;

    @include media(1200) {
      max-width: none;
    }

    @include media(768) {
      width: 100%;
      margin-bottom: vw(56, 376);
    }

    & + #{$self}__button {
      //left: vw(16);
      //margin-left: vw(-46);
    }

    h3 {
      margin-bottom: vw(3);
      display: inline-block;
      vertical-align: top;
      padding: vw(2) vw(6);
      font-family: $mainFont;
      font-size: vw(21);
      line-height: (24.6 / 21);
      font-weight: 400;
      letter-spacing: -0.02047em;
      color: #ffffff;
      background-color: $purpleColor;

      @include media(768) {
        margin-bottom: vw(3, 376);
        padding: vw(3, 376);
        font-size: vw(21, 376);
        line-height: 1;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li + li {
      margin-top: vw(3);

      @include media(768) {
        margin-top: vw(6, 376);
      }
    }

    li {
      display: block;
      line-height: 1;

      span {
        display: inline-block;
        vertical-align: top;
        padding: vw(0) vw(6);
        font-family: $mainFont;
        font-size: vw(21);
        line-height: (24.6 / 21);
        letter-spacing: -0.02047em;
        font-weight: 400;
        color: #000000;
        background-color: #ffffff;

        @include media(768) {
          padding: 0 vw(3, 376); //vw(2, 376) vw(3, 376);
          font-size: vw(21, 376);
          line-height: 1;
        }
      }

      span + span {
        @include media(768) {
          margin-top: vw(3, 376);
        }
      }
    }
  }

  &__button {
    $btn: &;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: vw(98) vw(81) vw(101) vw(117);
    transform: translateX(5.05208vw);
    border: none;
    background-color: $purpleColor;
    cursor: pointer;
    appearance: none;
    transition: background-color 0.3s ease;

    @include media(1200) {
      margin-right: vw(-15, 1200);
      padding: vw(98, 1200) vw(81, 1200) vw(101, 1200) vw(117, 1200);
      transform: translateX(0);
    }

    @include media(768) {
      width: calc(100% + 10.6383vw);
      margin-right: 0;
      //margin-left: vw(-20, 376);
      padding: vw(64, 376) 0 vw(80, 376);
    }

    &:focus {
      outline: none;
    }

    @include hover {
      background-color: lighten($purpleColor, 10%);
      #{$btn}-icon {
        transform: translateX(1vw);
      }
    }

    &-text {
      position: absolute;
      top: vw(174);
      right: vw(46);
      display: inline-block;
      padding: vw(6) vw(7) vw(4) vw(11);
      font-family: $headingFont;
      font-size: vw(16);
      letter-spacing: -0.02em;
      font-weight: 700;
      line-height: 1;
      color: #ffffff;
      text-transform: uppercase;
      background-color: #000000;

      @include media(1200) {
        top: vw(174, 1200);
        right: vw(46, 1200);
        padding: vw(6, 1200) vw(7, 1200) vw(4, 1200) vw(11, 1200);
        font-size: vw(16, 1200);
      }

      @include media(768) {
        top: vw(170, 376);
        right: vw(90, 376);
        padding: vw(6, 376) vw(10, 376);
        font-size: vw(22, 376);
      }
    }

    &-icon {
      width: vw(130);
      height: vw(130);
      transition: transform 0.3s ease;

      @include media(1200) {
        width: vw(130, 1200);
        height: vw(130, 1200);
      }

      @include media(768) {
        width: vw(185, 376);
        height: vw(185, 376);
      }

      svg {
        display: block;
        width: 100%;
        height: auto;
        fill: #ffffff;
      }
    }

    &--simple {
      @include media(768) {
        width: 100%;
        padding: vw(13, 376) vw(20, 376) vw(14, 376);
        border: solid vw(1, 376) #fff;
        background-color: transparent;
      }

      #{$btn}-icon {
        @include media(768) {
          display: none;
        }
      }

      #{$btn}-text {
        @include media(768) {
          position: static;
          padding: 0;
          font-family: $mainFont--book;
          font-size: vw(16, 376);
          line-height: 1;
          letter-spacing: -0.0325em;
          background-color: transparent;
          text-transform: capitalize;
          font-weight: 400;
        }
      }
    }
  }
}
