.partnership {
  padding: vw(120) 0 0;

  @include media(768) {
    padding: vw(57, 376) 0 0;
  }

  &__container {
    max-width: vw(1740);
    @include media(1200) {
      max-width: none;
    }
  }

  &__title {
    max-width: vw(630);
    margin: 0 auto vw(100);

    @include media(768) {
      max-width: none;
      margin-bottom: vw(18, 376);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: vw(-80);

    @include media(1200) {
      margin-top: vw(-80, 1200);
    }

    @include media(768) {
      margin-top: 0; //vw(-80, 376) !important;
    }
  }

  &__item {
    margin-top: vw(80);
    padding-left: vw(50);
    padding-right: vw(50);

    @include media(1200) {
      width: 33.33%;
      margin-top: vw(80, 1200);
      padding-left: vw(30, 1200);
      padding-right: vw(30, 1200);

      img {
        margin-left: auto;
        margin-right: auto;
      }
    }

    @include media(768) {
      width: 50%;
      margin-top: vw(30, 376);
      padding-left: 0;
      padding-right: 0;

      order: 2;

      img {
        transform: scale(0.75);
      }
    }

    &--street-beat {
      margin-left: vw(10);

      @include media(1200) {
        margin-left: 0;
      }

      @include media(768) {
        order: 1;
      }

      img {
        display: block;
        width: vw(226);
        height: auto;

        @include media(1200) {
          width: vw(226, 1200);
        }

        @include media(768) {
          width: vw(226, 376);
          transform: scale(0.47) translateX(-15px) translateY(7px);
        }
      }
    }

    &--letual {
      @include media(768) {
        order: 2;
      }

      img {
        display: block;
        width: vw(229);
        height: auto;

        @include media(1200) {
          width: vw(229, 1200);
        }

        @include media(768) {
          width: vw(229, 376);
          transform: scale(0.6) translateX(-15px) translateY(-5px);
        }
      }
    }

    &--starbucks-coffee {
      @include media(768) {
        order: 1;
      }

      img {
        display: block;
        width: vw(113);
        height: auto;

        @include media(1200) {
          width: vw(113, 1200);
        }

        @include media(768) {
          width: vw(113, 376);
          transform: scale(0.75) translateX(14px);
        }
      }
    }

    &--pubg-mobile {
      img {
        display: block;
        width: vw(115);
        height: auto;

        @include media(1200) {
          width: vw(115, 1200);
        }

        @include media(768) {
          width: vw(115, 376);
          transform: scale(0.65) translateX(14px) translateY(4px);
        }
      }
    }

    &--formula-cinema {
      margin-left: vw(10);

      @include media(1200) {
        margin-left: 0;
      }

      @include media(768) {
        order: 1;
      }

      img {
        display: block;
        width: vw(310);
        height: auto;

        @include media(1200) {
          width: vw(310, 1200);
        }

        @include media(768) {
          width: vw(310, 376);
          transform: scale(0.7) translateX(15px);
        }
      }
    }

    &--sportmaster {
      margin-left: vw(45);

      @include media(1200) {
        margin-left: 0;
      }

      img {
        display: block;
        width: vw(120);
        height: auto;

        @include media(1200) {
          width: vw(120, 1200);
        }

        @include media(768) {
          width: vw(120, 376);
          transform: scale(0.6) translateX(-15px) translateY(4px);
        }
      }
    }

    &--metro {
      margin-left: vw(100);

      @include media(1200) {
        margin-left: 0;
      }

      img {
        display: block;
        width: vw(165);
        height: auto;

        @include media(1200) {
          width: vw(165, 1200);
        }

        @include media(768) {
          width: vw(165, 376);
          transform: scale(0.49) translateX(24px) translateY(-12px);
        }
      }
    }

    &--tele2 {
      margin-left: vw(106);

      @include media(1200) {
        margin-left: 0;
      }

      img {
        display: block;
        width: vw(143);
        height: auto;

        @include media(1200) {
          width: vw(143, 1200);
        }

        @include media(768) {
          width: vw(143, 376);
          transform: scale(0.47) translateX(-15px) translateY(-16px);
        }
      }
    }


    &--benetton {
      @include media(1200) {
        order: 11;
        width: 100%;
      }

      @include media(768) {
        order: 10;
        width: 50%;
      }

      img {
        display: block;
        width: vw(310);
        height: auto;

        @include media(1200) {
          width: vw(310, 1200);
        }

        @include media(768) {
          width: vw(310, 376);
          transform: scale(0.7) translateX(15px);
        }
      }
    }

    &--huawei {
      margin-left: vw(188);

      @media screen and (min-width:1201px){
        margin-top: vw(50);
      }

      @include media(1200) {
        margin-left: 0;
        order: 10;
      }

      @include media(768) {
        order: 11;
      }

      img {
        display: block;
        width: vw(143);
        height: auto;

        @include media(1200) {
          width: vw(143, 1200);
        }

        @include media(768) {
          width: vw(143, 376);
          transform: scale(0.47) translateX(-15px) translateY(-16px);
        }
      }
    }
  }

  &__grid {
    width: vw(1188);
    margin: vw(217) auto 0;

    @include media(1200) {
      width: 100%;
    }

    @include media(768) {
      width: calc(100% + 10.6383vw);
      height: auto;
      margin: vw(144, 376) vw(-20, 376) 0;
    }

    .swiper-wrapper {
      display: grid;
      height: vw(953);
      grid-template-columns: 21.2125% 21.2125% 21.2125% 21.2125%;
      grid-template-rows:
        vw(146) vw(82) vw(221) vw(55) vw(91) vw(55) vw(25) vw(55)
        vw(223);
      //953
      grid-template-rows: 15.321% 8.6044% 23.18992% 5.77124% 9.54879% 5.77124% 2.62329% 5.77124% 23.39979%;

      grid-gap: 0 5.05%; //vw(60);
      grid-auto-flow: row;
      overflow: hidden;

      @include media(1200) {
        height: vw(947, 1200);
      }

      @include media(768) {
        display: flex;
        height: vw(450, 376);
        grid-gap: 0;
        overflow: visible;
      }
    }
  }

  &__video {
    width: 100%;
    min-height: vw(450);

    @include media(1200) {
      min-height: vw(446, 1200);
    }

    @include media(768) {
      display: flex;
      width: vw(292, 376);
      padding: 0 vw(20, 376);
      min-height: vw(450, 376);
      //background-color: rgba(#fff, 0.1);
    }

    &--one {
      grid-row: 3 / span 3;
    }

    &--two {
      grid-row: 1 / span 3;
      grid-column-start: 2;
    }

    &--three {
      grid-row: 2 / span 4;
      grid-column-start: 3;
    }

    &--four {
      grid-column-start: 4;
      grid-row: 3 / span 3;
    }

    &--five {
      grid-row-start: 9;
    }

    &--six {
      grid-row: 5 / span 4;
    }

    &--seven {
      grid-column-start: 3;
      grid-row: 7 / span 3;
    }

    &--eight {
      grid-column-start: 4;
      grid-row-start: 9;
    }

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      /*@include media(768) {
        width: auto;
        height: 100%;
      }*/
    }
  }
}
