.choice-button {
  $self: &;
  display: inline-block;
  vertical-align: top;

  &--image {
    @include media(768) {
      padding-left: vw(70, 376);
    }

    label {
      text-align: left;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: vw(-69);
        z-index: 1;
        transform: translateY(-50%) translateX(-50%);
        width: vw(21);
        height: vw(21);
        border-radius: 50%;
        background-color: $purpleColor;
        opacity: 0;
        transition: opacity 0.3s ease;

        @include media(1200) {
          left: vw(-69, 1200);
          width: vw(21, 1200);
          height: vw(21, 1200);
        }
      }
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: vw(-16);
    transform: translateY(-50%) translateX(-100%);
    width: vw(53);
    height: vw(53);
    border-radius: 50%;
    overflow: hidden;

    img {
      display: block;
      max-width: none;
      width: calc(100% + 2px);
      height: auto;
      margin-top: -1px;
      margin-left: -1px;
    }

    @include media(1200) {
      left: vw(-16, 1200);
      width: vw(53, 1200);
      height: vw(53, 1200);
    }

    @include media(768) {
      left: vw(-70, 376);
      transform: translateY(-50%) translateX(0);
      width: vw(53, 376);
      height: vw(53, 376);
    }
  }

  label {
    position: relative;
    display: block;
    padding: vw(10) vw(30);
    font-family: $mainFont--book;
    font-size: vw(19);
    color: rgba(#fff, 0.21);
    line-height: 1;
    //letter-spacing: -0.02047em;
    border: 1px solid rgba(#fff, 0.21);
    border-radius: vw(21);
    cursor: pointer;
    transition: all 0.3s ease;

    @include media(1200) {
      padding: vw(10, 1200) vw(25, 1200);
      font-size: vw(19, 1200);
      border-radius: vw(21, 1200);
    }

    @include media(768) {
      padding: vw(10, 376) vw(25, 376);
      font-size: vw(19, 376);
      border-radius: vw(21, 376);
    }

    @include hover {
      border-color: $purpleColor;
      color: #fff;
    }
  }

  input:checked ~ label {
    background-color: $purpleColor;
    border-color: $purpleColor;
    color: #fff;
    cursor: default;

    &::after {
      opacity: 1;
    }
  }
}
