extends ../layouts/default

block vars
	-
		const page = {
			title: 'Блоки'
		};

block main

	section.section-block.grid-block
		.container
			.section-block__title.grid-block__title Блок 1
			.grid-block__flex
				.grid-block__item
					.grid-block__item-inner
						.grid-block__item-img
							img(src="images/placeholder-image.jpg" alt="")
						.grid-block__item-title Пункт
				.grid-block__item
					.grid-block__item-inner
						.grid-block__item-img
							img(src="images/placeholder-image.jpg" alt="")
						.grid-block__item-title Пункт
				.grid-block__item
					.grid-block__item-inner
						.grid-block__item-img
							img(src="images/placeholder-image.jpg" alt="")
						.grid-block__item-title Пункт
				.grid-block__item
					.grid-block__item-inner
						.grid-block__item-img
							img(src="images/placeholder-image.jpg" alt="")
						.grid-block__item-title Пункт
				.grid-block__item
					.grid-block__item-inner
						.grid-block__item-img
							img(src="images/placeholder-image.jpg" alt="")
						.grid-block__item-title Пункт
				.grid-block__item
					.grid-block__item-inner
						.grid-block__item-img
							img(src="images/placeholder-image.jpg" alt="")
						.grid-block__item-title Пункт


		section.section-block.v-slider
			.v-slider__container.container
				.section-block__title.v-slider__title Блок 2
				.swiper-container
					.swiper-wrapper
						.swiper-slide.v-slider__slide.vss
							.vss__inner
								.vss__left
									img(src="images/placeholder-image.jpg" alt="")
								.vss__right
									.vss__title начало повседневной работы по формированию позиции
									.vss__text.text-style
										p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым.
									.vss__btns
										a.btn(href="") Стандартная кнопка 1
						.swiper-slide.v-slider__slide.vss
							.vss__inner
								.vss__left
									img(src="images/placeholder-image.jpg" alt="")
								.vss__right
									.vss__title начало повседневной работы по формированию позиции
									.vss__text.text-style
										p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым.
									.vss__btns
										a.btn(href="") Стандартная кнопка 1
						.swiper-slide.v-slider__slide.vss
							.vss__inner
								.vss__left
									img(src="images/placeholder-image.jpg" alt="")
								.vss__right
									.vss__title начало повседневной работы по формированию позиции
									.vss__text.text-style
										p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым.
									.vss__btns
										a.btn(href="") Стандартная кнопка 1
						.swiper-slide.v-slider__slide.vss
							.vss__inner
								.vss__left
									img(src="images/placeholder-image.jpg" alt="")
								.vss__right
									.vss__title начало повседневной работы по формированию позиции
									.vss__text.text-style
										p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым.
									.vss__btns
										a.btn(href="") Стандартная кнопка 1
					.v-slider__navigation
						.swiper-button-prev
						.swiper-pagination
						.swiper-button-next




		section.section-block.advs
			.advs__container.container
				.section-block__title.advs__title Блок 3
				.advs__flex
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.


		section.section-block.advs.advs--col-3
			.advs__container.container
				.section-block__title.advs__title Блок 4
				.advs__flex
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.
					.advs__item.adv-i
						.adv-i__inner
							.adv-i__left
								.adv-i__img
									img(src="images/placeholder-image.jpg" alt="")
							.adv-i__right
								.adv-i__title Изучение объекта
								.adv-i__text Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.

		section.section-block.gallery
			.gallery__container.container
				.section-block__title.gallery__title Блок 5
				.gallery__flex
					.gallery__item.gal-i
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
					.gallery__item.gal-i
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
							.gal-i__info
								.gal-i__title Задача организации
					.gallery__item.gal-i
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
							.gal-i__info
								.gal-i__title Задача организации
					.gallery__item.gal-i.gal-i--zoom
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
							.gal-i__info
								.gal-i__title Задача организации
								.gal-i__date 20.05.21
					.gallery__item.gal-i
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
							.gal-i__info
								.gal-i__title Задача организации
								.gal-i__date 20.05.21
					.gallery__item.gal-i
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
							.gal-i__info
								.gal-i__title Задача организации
								.gal-i__date 20.05.21


		section.section-block.gallery.gallery--col-3
			.gallery__container.container
				.section-block__title.gallery__title Блок 6
				.gallery__flex
					.gallery__item.gal-i
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
					.gallery__item.gal-i
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
							.gal-i__info
								.gal-i__title Задача организации
					.gallery__item.gal-i
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
							.gal-i__info
								.gal-i__title Задача организации
								.gal-i__date 20.05.21

		section.section-block.gallery.gallery--col-3
			.gallery__container.container
				.section-block__title.gallery__title Блок 7
				.gallery__flex
					.gallery__item.gal-i
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
							.gal-i__info
								.gal-i__title Задача организации
								.gal-i__date 20.05.21
					.gallery__item.gal-i
						a.gal-i__inner(href="")
							.gal-i__img
								img(src="images/placeholder-image.jpg" alt="")
							.gal-i__info
								.gal-i__title Задача организации

		section.section-block
			.v-slider__container.container
				.section-block__title.v-slider__title Блок
				.v-slider__slide.vss
		section.section-block
			.v-slider__container.container
				.section-block__title.v-slider__title Блок
				.v-slider__slide.vss
		section.section-block
			.v-slider__container.container
				.section-block__title.v-slider__title Блок
				.v-slider__slide.vss
		section.section-block
			.v-slider__container.container
				.section-block__title.v-slider__title Блок
				.v-slider__slide.vss
		section.section-block
			.v-slider__container.container
				.section-block__title.v-slider__title Блок
				.v-slider__slide.vss