extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	section.hero 
		.hero__container.container 
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ex! Aut error placeat dolor eligendi debitis ab et ipsum. Quibusdam obcaecati quaerat adipisci sed. Distinctio, incidunt fugit. Consequatur, distinctio ducimus.