extends ../layouts/default

block vars
    -
        const page = {
            title: 'Текст'
        };

block main
    .fake-header
    .page-section
        .page-section__container.container
            h1.page-section__title Политика
            .page-section__content
                p text
                p text